.cards {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-gap: 1.25rem;
    justify-items: center;
    margin-bottom: 70px;
}

@media (min-width: 800px) {
    .cards {
        margin: 0 auto;
        display: grid;
        max-width: 0;
        grid-gap: 1.25rem;
        justify-content: space-evenly;
        grid-template-columns:  repeat(2, 350px);
        margin-bottom: 70px;
    }
}

@media (min-width: 1170px) {
    .cards {
        display: grid;
        max-width: 0;
        grid-gap: 1.875rem;
        align-items: center;
        justify-content: space-evenly;
        grid-template-areas: 
            'supervisor team calc'
            'supervisor karma calc';
        margin-bottom: 70px;
    }
}