// Google font
@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,600&display=swap');

// Font variables
$poppins: 'Poppins', sans-serif;


body {
    font-family: $poppins;
    font-size: 15px;
}
