@import '../layout/layout.scss';

$highlight-line-height: 4px;

.card {
    width: 310px;
    height: 220px;
    padding: 2rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;  
    box-sizing: border-box;
}

@media (min-width: 600px) {
    .card {
        width: 350px;
        height: 250px;
        padding: 2rem;
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        position: relative;
        overflow: hidden;
        display: inline-block;  
        box-sizing: border-box;
    }
}

@media (min-width: 1170px) {
    .card--supervisor {
        grid-area: supervisor;
    }

    .card--karma {
        grid-area: karma;
    }

    .card--team {
        grid-area: team;
    }

    .card--calc {
        grid-area: calc;
    }
}

.card--red.card::before {
    content: "";
    width: 100%;
    height: $highlight-line-height;
    padding: 0;
    display: block;
    background: $primary-red;
    position: absolute;
    top: 0;
    left: 0;
}

.card--orange.card::before {
    content: "";
    width: 100%;
    height: $highlight-line-height;
    padding: 0;
    display: block;
    background: $primary-orange;
    position: absolute;
    top: 0;
    left: 0;
}

.card--cyan.card::before {
    content: "";
    width: 100%;
    height: $highlight-line-height;
    padding: 0;
    display: block;
    background: $primary-cyan;
    position: absolute;
    top: 0;
    left: 0;
}

.card--blue.card::before {
    content: "";
    width: 100%;
    height: $highlight-line-height;
    padding: 0;
    display: block;
    background: $primary-blue;
    position: absolute;
    top: 0;
    left: 0;
}

.card__title {
    padding-bottom: 0.675rem;
    text-align: left;
}

.card__copy {
    text-align: left;
}

.card__icon {
    width: 64px;
    height: 64px;
    position: absolute;
    bottom: 25px;
    right: 25px;
}