@import '../layout/layout.scss';

.header {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
    grid-area: header;
}

.header__title {
    padding-bottom: 1.125rem;
    margin-top: 80px;
}

.header__subTitle {
    padding-bottom: 1.75rem;
}

.header__copy {
    padding-bottom: 4rem;
}