@import '../layout/layout.scss';

.header {
    padding-top: 85px;
    margin: 0 auto;
    text-align: center;
    display: block;
    width: 100%;
}

.header__title {
    padding-bottom: 1.125rem;
}

.header__subTitle {
    padding-bottom: 1.75rem;
}


.header__copy {
    padding-bottom: 4.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1rem;
    display: inline-block;
    max-width: 305px;
}

@media (min-width: 600px) {
    .header__copy {
        padding-bottom: 4.5rem;
        font-size: 1rem;
        display: inline-block;
        max-width: 570px;
    }
}